<% provide(:title, "Home") %>
<h1> This is the cool home page to my new Ruby on Rails App</h1>
  <p><a href = "http://localhost:3000/users"> Users page</a><br/>
   <a href = "http://localhost:3000/microposts"> Micropost app connected with the users</a><br/>
   <a href = "http://localhost:3000/static_pages/help">Help</a><br/>
   <a href = "http://localhost:3000/static_pages/about">About</a><br/>
   <a href = "http://localhost:3000/static_pages/contact">Contact</a>
 </p>
